/* Mario CSS */

mario { 
	display: block; 
	width: 22px; 
	height: 22px; 
	position: absolute; 
	bottom: 150px; 
	left: 0;
	background: url(../../images/sprites/smw_mario_sheet.png) no-repeat;
	background-position: -205px 0;
	}
		
mario.left { background-position: -165px 0; }	
mario.right { background-position: -205px 0; }	
mario.walk.left { background-position: -46px 0; }	
mario.walk.right { background-position: -325px 0; }

mario.jump,
mario.jump.walk.right {  background-position: -205px -39px; }
mario.jump.left,
mario.jump.walk.left {  background-position: -165px -39px; }

mario.down,
mario.down.walk.right{ background-position: -285px -37px; }
mario.down.left,
mario.down.walk.left { background-position: -86px -37px; }