#level11_wrap { background: #0060b8; }

#level11_wrap cloud {
	display: block;
	position: absolute;
	top: 10%;
	left: 30%;
	background: #e8f0f8;
	width: 300px;
	height: 5%;
	border-radius: 100px;
	-webkit-box-shadow:inset 0 -2px 0px #a8d0d0,inset 0 -7px 3px #c0e0e0;
}

#level11_wrap column {
	display: block;
	position: absolute;
	bottom: 15%;
	left: 30px;
	height: 50%;
	width: 150px;
	border-radius: 100px 100px 0 0;
	border: 1px solid #105070;
	background: #70b0d0;
	border-bottom: 0;
	-webkit-box-shadow:
		inset -10px 0px 0px #105070,
		inset -25px 0px 0px #4080a0;
}

#level11_wrap column.clay {
	border: 1px solid #90c0c0;
	background: #c0e0e0;
	border-bottom: 0;
	-webkit-box-shadow:
		inset -10px 0px 0px #90c0c0,
		inset -25px 0px 0px #a8d0d0;
}

#level11_wrap column dot {
	background: #c0e0e0;
	position: absolute;
	width: 25px;
	height: 10%;
	border-radius: 60%;
}

#level11_wrap column.clay dot { background: #e8f0f8; }

#level11_wrap floor { 
	display: block; 
	width: 100%; 
	height: 150px; 
	position: absolute; 
	bottom: 0; 
	left: 0;
	background: #c89858;
	border-top: 1px solid #000;
	background-image:
		-webkit-radial-gradient(10% 10%, circle contain, #e0c050 20%,transparent 0%),
		-webkit-radial-gradient(10% 80%, circle contain, #e0c050 40%,transparent 0%),
		-webkit-radial-gradient(40% 20%, circle contain, #e0c050 15%,transparent 0%),
		-webkit-radial-gradient(10% 20%, circle contain, #e0c050 30%,transparent 0%),
		-webkit-radial-gradient(30% 40%, circle contain, #e0c050 20%,transparent 0%);
	background-position: top left, -5px 5px, 20px 24px, 0px 15px, 10px 0px, 10px 0px;
	background-size:50px 50px;
}

#level11_wrap floor:after { 
  content: "";
  background: url(../../../images/sprites/grass_floor.png) repeat-x;
  display: block;
  width: 100%;
  height: 7px;
}